<!-- Launch file for localinos -->

<launch>

	<arg name="robot_name" value="$(env ROBOT_NAME)" />	 <!-- Name of the robot w/ the localino -->
	<arg name="dev" /> <!-- should be AMC0 or ACM1 -->

<group ns="$(arg robot_name)">

<node name="localino_node" pkg="localino" type="localino_node.py" output="screen">
      <param name="robot_name" value="$(arg robot_name)" /> <!-- gotta make sure this doens't get antoher robot's name -->
      <param name="dev" value="$(arg dev)" />
</node>


</group>

</launch>
