<launch>

	<include file="$(find vrpn_client_ros)/launch/sample.launch">
		<arg name="server" value="192.168.20.100"/>
	</include>

	<node pkg="cohrint_jackal_bringup" type="vicon_pose_repub.py" name="vicon_repub"/>
	<!-- <node pkg="cohrint_jackal_bringup" type="cmd_vel_repub.py" name="cmd_repub"/> -->


	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_aspen" clear_params="true">
        <rosparam command="load" file="$(find cohrint_jackal_bringup)/params/aspen_template2.yaml" />
        <remap from="odometry/filtered" to="odometry/filtered/aspen"/>
	</node>



</launch>