<launch>

<arg name="bag" default="false" />

<group ns="$(env ROBOT_NAME)" >
       <include file="$(find jackal_base)/launch/base.launch" /> 
       <include file="$(find localino)/launch/localino.launch" >
       		<arg name="included" value='true' />
	</include> 
       <include file="$(find cohrint_jackal_bringup)/launch/compass.launch" />


 <node pkg="rosbag" type="record" name="rosbagger" if="$(arg bag)"
       args="record -o $(env HOME)/bags/ distances/ bluetooth_teleop/cmd_vel/ cmd_vel/
       imu/data_raw compass/imu compass/magnetic_field joint_states jackal_velocity_controller/odom tf/ navsat/" /> 
</group>

</launch>